version: '3.4'

services:
  wsrn:
    restart: unless-stopped
    volumes:
      - ./public/archive:/app/public/archive
      - wsrn-images:/data/images
    image: wsrn:v2.1
    env_file:
      - .env.local
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      DOMAIN: https://wsrnfm.com/
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - 'traefik.enable=true'
        - 'traefik.http.routers.wsrn.entrypoints=https'
        - 'traefik.http.routers.wsrn.rule=((Host(`wsrnfm.com`) || Host(`www.wsrnfm.com`)) &&
          !PathPrefix(`/iiif/`))'
        - 'traefik.http.routers.wsrn.tls=true'
        - 'traefik.http.routers.wsrn.tls.certresolver=letsEncrypt'
        - 'traefik.http.services.wsrn.loadbalancer.server.port=3000'
        - 'traefik.docker.network=traefik'
        - 'traefik.http.routers.wsrn.middlewares=redirect-www'
        - 'traefik.http.middlewares.redirect-www.redirectregex.regex=^https://www.wsrnfm.com/(.*)'
        - 'traefik.http.middlewares.redirect-www.redirectregex.replacement=https://wsrnfm.com/$${1}'
        - 'traefik.http.middlewares.redirect-www.redirectregex.permanent=true'

    command: npm run start
    networks:
      - traefik
      - internal

  db:
    image: mariadb:10.7
    hostname: wsrn-db
    deploy:
      placement:
        constraints:
          - node.role == manager
    env_file:
      - .env.local
    volumes:
      - ./mock_sql/initMockDatabase.sql:/docker-entrypoint-initdb.d/init.sql
      - wsrn-data:/var/lib/mysql
    networks:
      - internal

  static:
    image: edirom/cantaloupe
    restart: unless-stopped
    volumes:
      - wsrn-images:/opt/cantaloupe/images
    configs:
      - source: cantaloupe_conf
        target: /etc/cantaloupe.properties
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - 'traefik.enable=true'
        - 'traefik.docker.network=traefik'
        - 'traefik.port=80'
        - 'traefik.http.routers.wsrn_static.entrypoints=https'
        - 'traefik.http.routers.wsrn_static.rule=((Host(`wsrnfm.com`) || Host(`www.wsrnfm.com`)) &&
          PathPrefix(`/iiif/`))'
        - 'traefik.http.routers.wsrn_static.tls=true'
        - 'traefik.http.routers.wsrn_static.tls.certresolver=letsEncrypt'
        - 'traefik.http.services.wsrn_static.loadbalancer.server.port=8182'
    networks:
      - traefik
      - internal

configs:
  cantaloupe_conf:
    file: ./cantaloupe.properties

networks:
  traefik:
    external: true
  internal:

volumes:
  wsrn-images:
    name: wsrn-images
    driver_opts:
      type: nfs
      o: 'nfsvers=4,addr=130.58.218.26,rw,nolock,soft'
      device: ':/volumes/wsrn/images'

  wsrn-data:
    name: wsrn-data
    driver_opts:
      type: nfs
      o: 'nfsvers=4,addr=130.58.218.26,rw,nolock,soft'
      device: ':/volumes/wsrn/data'
