version: '3.8'
services:
  frontend:
    container_name: wsrn-docker
    build:
      context: .
      dockerfile: ./Dockerfile.prod
    restart: unless-stopped
    environment:
      NODE_ENV: production
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik'
      - 'traefik.http.routers.wsrn.entrypoints=https'
      - 'traefik.http.routers.wsrn.rule=Host(`wsrn.sccs.swarthmore.edu`)'
      - 'traefik.http.routers.wsrn.tls=true'
      - 'traefik.http.routers.wsrn.tls.certresolver=letsEncrypt'
      - 'traefik.http.services.wsrn.loadbalancer.server.port=3000'
    networks:
      - traefik

networks:
  traefik:
    external: true
    driver: bridge
