.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  width: '10%';
  display: inline-block;
  animation: marquee 5s linear infinite;
}

.marquee2 span {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.fc-widget-header {
  background-color: blue;
}

.image:hover {
  opacity: 0.2;
  transition: 0.4s ease;
  background-color: #008cba;
}

.words {
  opacity: 0;
  transition: 0.5s ease;
}

.words:hover {
  opacity: 1;
  transition: 0.4s ease;
}
